.cardList{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  border-radius: 16px;
  width: 300px;
  height: 360px;
  &__tag{
    margin-top: 16px;
    font-weight: 700;
    font-size: $fz_base;
    line-height: 20px;
    color: map-get($map: $c_bg, $key: color2);
    padding: 4px 8px;
    background: map-get($c_second,color1);
    border-radius: 8px;
  };
  &__title{
    padding-top: 16px;
    font-weight: 700;
    font-size: $fz_h4;
    line-height: 36px;
    color: map-get($map: $c_primary, $key: color3);
  };
  &__content{
    padding-top: 8px;
    font-weight: 400;
    font-size: $fz_lg;
    line-height: 28px;
    color: map-get($map: $c_primary, $key: color3);
  };
  &__img{
    width: auto;
    height: 184px;
    @include in-center;
  };
  &__btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    span{
      font-weight: 400;
      font-size: $fz_md;
      line-height: 18px;
      color: #C4C8FF;
      font-family: map-get($font_family , en_title );
    };
    a{
      font-weight: 700;
      font-size: $fz_md;
      line-height: 18px;
      color: map-get($map: $c_primary, $key: color3);      
    };
  };
};
.cardRules{
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 32px;
  &__1{
    width: 343px;
    height: 360px;
    border: 3px solid #FFFFFF;    
    @include pad{      
      width: 520px;
      height: 300px;
    };
  };
  &__2{
    width: 343px;
    @include pad{
      width: 485px;
    };
    background: linear-gradient(map-get($c_bg ,color3) , map-get($c_bg ,color3)) padding-box,
                linear-gradient(to right , map-get($c_third ,color3) , map-get($c_bg ,color2));
    border: 1px solid transparent;
    .cardRules__text{
      padding-bottom: 32px;
    };
  };
  &_row{
    @include pad{
      flex-direction: row;
    };
  };
  &_re{
    @include pad{
      flex-direction: row-reverse;
    };
    .cardRules__text{
      @include pad{
        padding-left: 48px;
      };
    };
  };
  .img{
    width: 220px;
    height: 140px;
    @include in-center;
  };
  .imgSM{
    height: 112px;
    @include in-center;
    img{
      width: 80px;
    };
  };
  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: map-get($map: $c_primary, $key:color1 );
    text-shadow: 0px 0px 10px rgb(map-get($map: $c_primary, $key:color1 ),0.6);
    padding-bottom: 24px;
    @include pad{
      font-size: 40px;
      line-height: 60px;
    };
  };
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;    
    @include pad{
      align-items: flex-start;
      width: 300px;
    };
    .title{
      font-weight: 700;
      font-size: $fz_xl;
      line-height: 36px;
    };    
    .part{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px 0;
      div + div {
        margin-top: 8px;
      };
      @include pad{
        //mark 至中 point靠前
        &:has(div):has(.point){
          align-items: flex-start;
        };   
        &:has(div):has(.mark){
          align-items: center;
        };      
      };
    };
    .content{
      display: flex;
      font-weight: 400;
      font-size: $fz_lg;
      line-height: 28px;      
    };
    .remark{
      display: flex;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: map-get($c_text,second);
    };
    .point{
      span{
        color: map-get($c_second,color1);
      };        
    };
    .mark{
      span{
        font-size: $fz_sm;
        line-height: 12px;
        @include in-center;
      };        
    };
  };
};
