.hero{
  padding: 72px 0 20px 0;
  display: flex;
  flex-direction: column;  
  &__label{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 78.36px 0 210px 0;
    @include pad{
      padding: 48.64px 0 108.36px 0;
    };
    @include laptop{
      padding: 26.49px 0 136.46px 0;
    };
    .txt_sm{
      font-size: $fz_lg;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 1rem;
      @include pad{
        font-size: $fz_base;
        line-height: 24px;
        margin-top: 16.03px;
      };
      @include laptop{
        font-size: $fz_lg;
        line-height: 20px;
        margin-top: 20.59px;
      };
    };
    .txt_md{
      font-size: 27px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: 5.4px;
      font-family: map-get($font_family , en_title );
      text-transform: uppercase;
      position: relative; 
      @include pad{
        top: 10px;
        left: 180px;
      };  
      @include laptop{
        font-size: 34px;
        line-height: 56px;
        top: 20px;
        left: 205px;
      };      
    };
    .txt_lg{
      font-weight: 400;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 8.4px;
      font-family: map-get($font_family , en_title );
      text-transform: uppercase;
      margin: 7.41px 0 17.39px 0 ;
      position: relative;
      @include pad{
        margin-left: -47px;
      };
      @include laptop{
        font-size: 52px;
        line-height: 96px;
        margin-left: -85px;
      };
    };
    .txt_shadow{
      text-shadow: -2.05px -1.37px rgb(map-get($map: $c_second, $key: color1),0.6),
                    2.05px 3.42px rgb(map-get($map: $c_primary, $key: color1),0.6);
      @include laptop{
        text-shadow: -3.94px -2.63px rgb(map-get($map: $c_second, $key: color1),0.6),
                      2.63px 3.94px rgb(map-get($map: $c_primary, $key: color1),0.6);
      };
    };
    .position_top{
      position: relative;   
      @include pad{
        width: 125px;
      };   
      @include laptop{
        width: 160px;
      };   
    };
    .position_bottom{
      position: relative;
    };
    .img_code{
      position: absolute;
      left: -102.69px;
      top: -59.02px;
      width: 70.48px;
      transform: rotate(-19.31deg);
      @include pad{
        left: -235px;
        top: 55px;
        width: 77.31px;
      };
      @include laptop{
        left: -310px;
        top: 85px;
        width: 98.65px;
      };
    };
    .img_lock{
      position: absolute;
      left: 186.63px;
      top: 201.29px;
      width: 105.26px;
      transform: rotate(1.6deg);
      @include pad{
        left: 260px;
        top: 70px;
        width: 128.84px;
      };
      @include laptop{
        left: 280px;
        top: 95px;
        width: 164.41px;
      };
    };    
    .img_ill1{
      display: none;
      @include pad{
        display: block;
        position: absolute;
        width: 100.77px;
        top: -10px;
        left: 360px;
      };
      @include laptop{
        display: block;
        position: absolute;
        width: 150px;
        top: -20px;
        left: 400px;
      };    
    };
    .img_ill2{
      display: none;
      @include pad{
        display: block;
        position: absolute;
        left: -150px;
        top: 105px;
        width: 124.7px;
      };
      @include laptop{
        display: block;
        position: absolute;
        left: -200px;
        top: 165px;
        width: 159.12px;
      };      
    };
    button{
      margin-top: 45px;
      @include pad{
        margin-top: 51.96px;
      };
      @include laptop{
        margin-top: 57.32px;
      };
    };
  };
  .rotating_light{
    overflow: hidden;
    .loop{
      display: flex;
      img{
        height: 34px;
        max-width: none;
        object-fit: cover;
      };
    };
  };
};
.question{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px 0;
  &__item{
    position: relative;
    height: 171px;
    width: 337px;
    @include pad{
      height: 160px;
      width: 500px;
    };
  };
  .group1{
    position: relative;
    .img1{
      width: 105.21px;
      position: absolute;
      left: 51px;
      top: 0;
      transform: rotate(-4.57deg);
      @include pad{
        width: 153.6px;
        left: 43.93px;
      };
    };
    .img2{
      width: 23.69px;
      position: absolute;
      left: 185px;
      top: 12px;
      @include pad{
        width: 34.59px;
        left: 228.45px;
        top: 17.02px;
      };
    };
    .img3{
      width: 72.09px;
      position: absolute;
      left: 230.4px;
      top: -7.14px;
      transform: rotate(4deg);
      @include pad{
        width: 95.61px;
        left: 327.03px;
        top: 39.06px;
      };
    };
    .img4{
      width: 274.46px;
      position: absolute;
      left: 4px;
      top: 46.78px;
      transform: rotate(-4.23deg);
      @include pad{
        width: 296.51px;
        left: 12.11px;
        top: 67.75px;
      };
    };
  };
  .group2{
    position: relative;
    margin-top: -50px;
    @include pad{
      margin-top: 0px;
    };
    .img1{
      width: 57.02px;
      position: absolute;
      left: 245px;
      top: 117px;
      @include pad{
        width: 83.25px;
        left: 384.06px;
        top: 101.72px;
      };
    };
    .img2{
      width: 12.85px;
      position: absolute;
      left: 72px;
      top: 49.17px;
      @include pad{
        width: 18.76px;
        left: 168.03px;
        top: 49.65px;
      };
    };
    .img3{
      width: 96.81px;
      position: absolute;
      left: -5.88px;
      top: 86.57px;
      @include pad{
        width: 140.57px;
        left: -5.89px;
        top: 50.48px;
      };
    };
    .img4{
      width: 237.37px;
      position: absolute;
      left: 99.52px;
      top: 21.03px;
      transform: rotate(4deg);
      @include pad{
        width: 278.51px;
        left: 209.25px;
        top: -21.28px;
      };
    };

  };
  .group3{
    position: relative;
    margin-top: -30px;
    @include pad{
      margin-top: 0px;
    };
    .img1{
      width: 131.54px;
      position: absolute;
      left: 89.68px;
      top: 0;
      transform: rotate(-5.43deg);
      @include pad{
        width: 192.04px;
        left: 164.73px;
        top: -53.15px;
      };
    };
    .img2{
      width: 73.31px;
      position: absolute;
      left: 236.42px;
      top: 132.21px;
      @include pad{
        width: 106.44px;
        left: 374.93px;
        top: 10.53px;
      };
    };
    .img3{
      width: 271.2px;
      position: absolute;
      left: -6px;
      top: 60.66px;
      transform: rotate(-6.03deg);
      @include pad{
        width: 297.1px;
        left: 51.96px;
        top: 18.69px;
      };
    };

  };
};
.banner{
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  .content{
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 630px;
    @include pad{
      flex-direction: row-reverse;
      justify-content: center;
      padding: 50.84px 0 38.31px 0;
      height: 340px;
    };
    @include laptop{
      padding: 65.33px 0 49.3px 0;
    };
    .main{
      display: flex;
      flex-direction: column;
      align-items: center;
    };
    .img_rightHand{
      width: 160px;
      transform: rotate(-55deg);
      position: relative;
      @include pad{
        transform: rotate(0deg);
      };
    };
    .img_leftHand{
      width: 160px;
      transform: rotate(-125deg);
      position: relative;
      @include pad{
        transform: rotate(0deg);
      };
    };
    .img_title{
      width: 326px;
    };
    .txt_title{
      position: relative;
      margin-top: 13.18px;
      display: flex;
      @include pad{
        margin-top: 12.96px;
      };
      label{
        font-weight: 700;
        font-size: $fz_base;
        line-height: 25px;
        color: map-get($map: $c_text, $key:primary_dark );
      };
      label + label {
        margin-left: 40px;
      };
    };
    .img_front{
      width: 90px;
      position: absolute;
      top: -310px;
      left: 200px;
      @include pad{
        top: -250px;
        left: 230px;
      };
    };
    .img_uxdesign{
      width: 180px;
      position:absolute;
      top: 130px;
      left: -110px;
      @include pad{
        top: -55px;
        left: -215px;
      };
    };
  };  
  .loop{
    display: flex;
    img{
      height: 40px;
      max-width: none;
      @include pad{
        height: 45.33px;
      };
    };
  };
};
.level{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 82px 0;
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid map-get($map: $c_second, $key: color1);
    border-radius: 100px;
    font-weight: 700;
    font-size: $fz_h3;
    line-height: 48px;
    color: map-get($map: $c_second, $key: color1);
    padding: 20px 40px 24px;
    position: relative;
    @include pad{
      padding: 16px 36px 20px;
      flex-direction: row;
    };
    img{
      width: 46px;
      position: absolute;
      left: 250px;
      top: -50px;
      @include pad{
        width: 60px;
        left: 450px;
        top: -80px;
      };
    };
  };
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 60px 0;
    span{
      font-weight: 400;
      font-size: $fz_lg;
      line-height: 28px;
      color: map-get($map: $c_text, $key:primary_light );
    };
    .inside{
      display: flex;
      flex-direction: column;
      align-items: center;
      @include pad{
        flex-direction: row;
      };
    };
  };
  .cardArea{
    display: flex;
    flex-direction: column;
    @include laptop{
      flex-direction: row;
    };
    .cardList + .cardList{
      margin-top: 40px;
      @include laptop{
        margin-top: 0;
        margin-left: 40px;
      };
    };
  };
};
.activity{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  @include pad{
    padding: 80px 0;
  };
  .txt_title{
    display: flex;
    padding-bottom: 36px;
    @include pad{
      padding-bottom: 100px;
    };
    label{
      font-weight: 700;
      font-size: $fz_h3;
      line-height: 48px;
      padding: 16px 16px 20px;
    };
    .img_frame1{
      width: 74px;
    };
    .img_frame2{
      width: 68px;
    };
  };
  .img_vector{
    @include in-center;
    width: auto;
    height: 60px;
    @include pad{
      height: 144px;
    };
    img{
      width: 30px;
      @include pad{
        width: 40px;
      };
    };
  };
  
};