/*RWD*/
@mixin mobile {
    @media screen and (min-width : $sm) {
        @content
    }
};
@mixin pad {
    @media screen and (min-width : $md) {
        @content
    }
};
@mixin laptop {
    @media screen and (min-width : $lg) {
        @content
    }
};
@mixin table{
    @media screen and (min-width : $xl){
        @content
    }
};

@mixin in-center{
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin caption($bg_color , $color , $width){
    @include in-center;
    height: 65px;
    width: $width;
    font-size: $fz_xl;
    font-weight: 900;
    background: $bg_color;
    color: $color;
  };